.segment_line{
	position: relative;
    z-index: 5;
    width: 100px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
.col_{position: relative;padding: 8px !important;}
.col_cont{    
	min-height: 42px;
	display: block;
    text-align: center;
    border: 1px solid #ffc373;
    padding: 10px 2px;
    border-radius: 5px;
}
.col_titl{
	display: block;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 5px 15px #767676;
}
.hide_but{
	position: absolute;
    top: 5px;
    right: 1px;
    cursor: pointer;
}
div.user_kd{
    max-height: 40vh;
    overflow-y: scroll;
}
div.myitem{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 1px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
div.myitem.hadir{
    background: #d9fad7;
}
div.myitem.xhadir{
    background: #fad7d7;
}
div.myitem.xrespon{
    background: #fffbcf;
}
div.myitem.isame{
    border: solid 1px #7983ff;
}
div.myitem > .grid{
    margin: 0px !important;
}
div.pos{
    font-size: 12px;
    font-weight: bold;
    float: left;
    font-weight: bold;
    border-right: 1px solid #d98e06;
    padding: 0px 1px !important;
}
div.ms{
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #d98e06;
    padding: 0px 5px !important;
}
div.msblue{
    padding: 5px 15px !important;
    background-color: #aedcff !important;
    border: 1px solid #2185d0 !important;
    color: #fff !important;
}
div.msgreen{
    padding: 5px 15px !important;
    background-color: #c2ffd1 !important;
    border: 1px solid #21ba45 !important;
    color: #fff !important;
}
div.name{
    font-size: 12px;
    word-wrap: break-word;
    padding: 0px 5px !important;
}
div.myflabel{
    font-size: 10px !important;padding: 3px !important;top: -2px !important;
}
i.myficon{
    margin:0px !important;
}
div.mytlabel{
    position: absolute;
    top: 6px;
    right: 6px;
}
input.inp_trans{
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
    text-align: center !important;
}
input.error,select.error{
    background: #ffebeb !important;
    border-color: #eb9f9f !important;
}
div.xdone_segment{
    border-color: darkred !important;
}
div.xdone_segment > i.exclamation{
    position: absolute;
    top: -10px;
    left: 8px;
    z-index: 10;
    color: darkred;
    font-size: 20px;
}
div.done_segment > i.exclamation{
    display: none;
}
span.alasan{
    font-style: italic;
    color: darkred;
    font-size: 11px;
}
textarea#remark_after,textarea#remark_b4{border-color: transparent;}
button.copy.icon.button{
    position: absolute;
    right: 10px;
    bottom: 110px;
    padding: 8px;
    background: aliceblue;
}