
span.topmenu_title{
    font-family: 'Lobster', cursive;
}
.ui.vertical.menu .item>i.icon {
    width: 1.18em !important;
    float: left !important;
    margin: 0 .5em 0 .5em !important;
}
body,body.pushable,body.pushable>.pusher  {
    background-color: #DADADA !important;
    background-image:url('../img/mosque.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    height: 100% !important;
    width: 100% !important;
}

div.ui-jqgrid-bdiv{
    overflow-x: hidden !important;
}

@yield('style')

.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #fff;
}
.wrap{
    word-wrap: break-word;
    white-space: pre-line !important;
    vertical-align: top !important;
}
.cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    width: 31px;
    height: 31px;
    margin: 0 auto;
    border: 2px solid rgba(97,100,193,0.98);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 425ms infinite linear;
    -o-animation: cssload-spin 425ms infinite linear;
    -ms-animation: cssload-spin 425ms infinite linear;
    -webkit-animation: cssload-spin 425ms infinite linear;
    -moz-animation: cssload-spin 425ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
.ui.fixed.menu, .ui[class*="top fixed"].menu {
    height: 30px;
}
.sidebar.inverted.icon{
    height: 20px;
    width: 10px;
}

.sidemenu{
    background-color: #284255 !important;
}
.sidemenu a{
    padding: 20px 15px 20px 15px !important;
}
.sidemenu a:hover {
    background-color: #00B5AD !important;
}
.sidemenu a.active {
    background: rgba(0,0,0, 0.5) !important;
}
.container_sem {
    padding-right:0px; 
    padding-top:50px;
    padding-bottom:15px;
    padding-left: 0px;
}
@media only screen and (max-width: 767.98px) {
    .ui.ui.ui.container:not(.fluid) {
        width:auto;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
    .ui.ui.ui.container.login {
        margin-left: 2em !important;
        margin-right: 2em !important;
    }
}
.ui.sidebar.inverted.vertical.menu {
    padding-top:90px;
}
.ui.sidebar.inverted.vertical.menu.sidemenu div.item{
    padding: 10px 0px;
}
.ui.sidebar.inverted.vertical.menu.sidemenu div.header{
    padding: 5px;
    text-align: center;
}
.ui.left.fixed.vertical.icon.menu {
    display: none;
}
h4.mytitle{
    color: #767676;
    text-align: center;
    font-size: 21px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px lightgray;
    background: aliceblue;
}
/*@media (max-width: 768px) {
    .ui.left.fixed.vertical.icon.menu {
        display: none;
    }
    .container {
        padding-left: 15px;
        padding-top: 95px;
    }
}
@media (min-width: 769px) {
    .ui.fixed.top.menu{
        display: none;
    }
    .container {
    }
}*/
.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: azure;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border: solid thin #d4d4d5;
}
.initials {
    position: relative;
    top: 10px; /* 25% of parent */
    font-size: 20px; /* 50% of parent */
    line-height: 20px; /* 50% of parent */
    color: white;
    font-family: "Courier New", monospace;
    font-weight: bold;
}
.admin_color{
    background-color: rgb(242, 113, 28);
}
.user_color{
    background-color: rgb(0, 181, 173);
}

a.disabled {
    pointer-events: none !important;
    cursor: default;
}

div [class*="left floated"] {
  float: left;
  margin-left: 0.25em;
}

div [class*="right floated"] {
  float: right;
   margin-right: 0.25em;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 101;
  background-color: #284255;
}
#toTop i {
  font-size: 25px;
  color: #f7fdff;
}

span.topmenu_title{
    color: white;
    letter-spacing: .1em;
    padding: 10px 5px;
    text-shadow: 1px 1px 10px white;
}

span.himsg{
    padding: 5px 10px;
    color: lightgrey;
}

div.mycontainer{
    background: rgb(255 255 255 / 60%);
    padding: 8px;
    /*border: solid 0.5px grey;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px grey;*/
    margin: auto;
}

div.fc-view-harness {
    background: white !important;
}

div.dataTables_filter.ui.form{
    border: solid 0px;
    border-radius: 8px;
    background: white;
    padding: 10px;
    box-shadow: 1px 1px 10px 0px grey;
}